/* Pc */
@media (min-width: 1024px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media only screen and (max-width: 739px) {
    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav { 
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .menu-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    }

    #header .moblie-menu-btn {
        position: absolute;
        top: 0;
        right: 0;
    }

    #content .member-item {
        width: 100%;
        margin-top: 30px;
    }

    .member-img {
        width: 60%;
    }
}